body {
  margin: 0;
  font-family: 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  padding: 50px;



}

input{

background-color: ghostwhite;

font-size: 1rem;
width: 100%;
}

.pict-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.pict{

align-content: center;
border: 1px solid gray;
border-radius: 8px;
margin: 5px 0px 10px 5px;
overflow: hidden;

}

.pict p{
  padding: 5px;
  text-align: center;
}

.pict img{
  max-height: 170px;
}